[submodule "todo-list-client-lesson"]
	path = todo-list-client-lesson
	url = https://github.com/dreamingrainbow/todo-list-client-lesson
[submodule "todo-list-client-redux-lesson"]
	path = todo-list-client-redux-lesson
	url = https://github.com/dreamingrainbow/todo-list-client-redux-lesson
[submodule "todo-list-client-with-server-lesson"]
	path = todo-list-client-with-server-lesson
	url = https://github.com/dreamingrainbow/todo-list-client-with-server-lesson
[submodule "todo-list-server-with-class"]
	path = todo-list-server-with-class
	url = https://github.com/dreamingrainbow/todo-list-server-with-class
[submodule "todo-list-server"]
	path = todo-list-server
	url = https://github.com/dreamingrainbow/todo-list-server
